body {
    font-size: 16px;
}

.jumboCV {
    padding:0.8rem;
    background-color: white;
}
.shinybg {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    height: 220px;
}
.number-large {
    font-size:3rem;
}
.gamebd{
    background-color:black;
    color: white;
    max-width: 600px;
}